.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 16px;
  width: 100vh;
  margin: 0 auto;
}

header {
  justify-content: center;
  margin-top: 32px;
}

.options-container {
  margin: 0 auto;
  width: 80vh;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-autocomplete {
  min-width: 50%;
  margin: 24px 0;
}
